.check-out-top {
    height: 285px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.check-out-title {
    font-size: 4.2rem;
}

.check-out-confirm {
    font-size: 2.5rem;
    color: #616161;
}

.check-out-product {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0rem 0rem 0.3rem;
}

.list-cart-inner {
    width: 100%;
}

.check-out-product-top {
    background: #ccc;
    font-size: 2rem;
    display: flex;
    padding: 1.2rem;
    font-weight: 600;
}

.check-out-product-top span {
    width: 20%;
}

.product-inner-name {
    width: 40%;
}

.check-out-product-inner {
    width: 100%;
    max-height: 500px;
    display: flex;
    font-size: 1.8rem;
    text-align: left;
    padding: 1.2rem;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.check-out-product-inner .ant-empty {
    width: 100%;
}

.cart-remain {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.check-out-product-item {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0.5rem;
    margin-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.check-out-product-item span {
    width: 20%;
    text-align: left;
}

.product-item-detail {
    width: 40%;
    display: flex;
    align-items: center;
}

.product-item-detail img {
    height: 85px;
    width: 50%;
    object-fit: cover;
    margin-right: 1.2rem;
    border-radius: 0.5rem;
}

.check-out-product-name {
    width: 50%;
}

.check-out-product-delete {
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
    transition: 0.25s;
}

.check-out-product-delete:hover {
    text-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
}

.check-out-footer {
    width: 80%;
    margin: 2.2rem auto;
}

.check-out-product-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.check-out-total {
    font-size: 2rem;
    margin-right: 2.2rem;
}

.check-out-btn {
    font-family: inherit;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 2rem;
    color: var(--white-color);
    background: var(--text-color);
    font-size: 1.6rem;
}

.check-out-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(0);
    opacity: 0;
}

.check-out-overlay.active {
    transform: scale(1);
    opacity: 1;
}

.check-out-modal {
    background: var(--white-color);
    padding: 5rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    text-align: center;
}

.modal-success {
    font-size: 2.2rem;
    color: var(--primary-color);
    padding-bottom: 2rem;
    display: block;
}

.success-icon {
    font-size: 4rem;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.review-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.review-left {
    width: 50%;
    height: 100%;
}

.review-left img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
}

.review-right {
    width: 50%;
    margin-left: 20px;
}

.review-right .product-name {
    font-weight: 600;
    color: var(--primary-color);
}

.review-right .product-price {
    font-weight: 700;
    display: block;
    text-transform: capitalize;
    padding-top: 15px;
}

.review-right .product-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}

.color-wrapper {
    display: flex;
    align-items: center;
}

.review-before {
    margin-top: 20px;
    padding: 20px 0px;
    border-top: 1px solid var(--text-color);
    margin-bottom: 20px;
}

.review-before::-webkit-scrollbar {
    width: 3px;
}
.review-before::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
}

.review-input {
    border: none;
    border-bottom: 1px solid var(--text-color);
    width: 70%;
    padding-top: 20px;
    outline: none;
    color: var(--text-color);
    padding: 8px;
}

.before-text {
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .check-out-product {
        width: 100%;
    }
    .check-out-title {
        font-size: 3.6rem;
    }
    .check-out-top {
        height: 200px;
    }
    .check-out-product-top {
        font-size: 1.6rem;
    }
    .check-out-product-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .product-inner-name {
        width: 50%;
    }
    .product-item-detail {
        width: 50%;
    }
    .check-out-product-top span {
        width: 25%;
    }
    .check-out-product-item span {
        width: 25%;
    }
    .product-quantity {
        display: none;
    }
    .check-out-product-quantity {
        display: none;
    }
    .check-out-product-delete {
        padding: unset;
    }
    .check-out-footer {
        width: 95%;
    }
}